<h1>Show Pokemon</h1>

<%= if @live_action in [:edit] do %>
  <%= live_modal @socket, PokedexWeb.PokemonLive.FormComponent,
    id: @pokemon.id,
    title: @page_title,
    action: @live_action,
    pokemon: @pokemon,
    return_to: Routes.pokemon_show_path(@socket, :show, @pokemon) %>
<% end %>

<ul>

  <li>
    <strong>Id:</strong>
    <%= @pokemon.id %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @pokemon.name %>
  </li>

  <li>
    <strong>Abilities:</strong>
    <%= @pokemon.abilities %>
  </li>

  <li>
    <strong>Height:</strong>
    <%= @pokemon.height %>
  </li>

  <li>
    <strong>Weight:</strong>
    <%= @pokemon.weight %>
  </li>

  <li>
    <strong>Number of skills:</strong>
    <%= @pokemon.number_of_skills %>
  </li>

  <li>
    <strong>Favorite:</strong>
    <%= @pokemon.favorite %>
  </li>

</ul>

<span><%= live_redirect "Back", to: Routes.pokemon_index_path(@socket, :index) %></span>
